@font-face {
    font-family: '思源宋体';
    src: url(static/pandamiao/lfcss.pandamiao.com/ZT/思源宋体.OTF) format('opentype');
    height: auto !important;
    padding-top: 2px
}

yt-live-chat-text-message-renderer #image-and-message .image {
    display: inline-block !important;
    margin: 0 5px !important;
    padding-top: 15px
}

body,
yt-live-chat-renderer,
yt-live-chat-ticker-renderer {
    background-color: transparent !important
}

::-webkit-scrollbar {
    display: none !important
}

#medal-name,
yt-live-chat-author-medal-renderer:not([is-fan-group]) {
    display: none !important
}

#medal-card {
    color: transparent !important;
    background-color: transparent !important;
    border: 0 !important;
    position: static !important
}

#chat-badges,
#medal-level,
yt-live-chat-ticker-renderer {
    display: none !important
}

yt-live-chat-text-message-renderer[author-type=""],
yt-live-chat-text-message-renderer[author-type=comein],
yt-live-chat-text-message-renderer[author-type=concern],
yt-live-chat-text-message-renderer[author-type=member],
yt-live-chat-text-message-renderer[author-type=moderator],
yt-live-chat-text-message-renderer[author-type=owner] {
    margin: 40px 30px !important;
    padding: 30px 0 0 130px !important;
    overflow: visible !important
}

yt-live-chat-text-message-renderer[author-type=""] #content {
    position: relative !important;
    border-width: 14px 20px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-普通_0000s_0005_圆角矩形-1.png) 14 20 14 20 fill !important;
    padding: 0 40px 0 20px !important
}

yt-live-chat-text-message-renderer[author-type=""] #content::before {
    position: absolute;
    bottom: -20px;
    left: -40px;
    content: "";
    display: block;
    height: 40px;
    width: 25px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-普通_0000s_0004_形状-1.png) no-repeat;
    background-size: 100%;
    z-index: 10
}

yt-live-chat-text-message-renderer[author-type=""] #content::after {
    position: absolute;
    bottom: -30px;
    right: -5px;
    content: "";
    display: block;
    height: 50px;
    width: 22px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-普通_0000s_0003_多边形-1.png) no-repeat;
    background-size: 100%;
    z-index: 10
}

yt-live-chat-text-message-renderer[author-type=""] yt-live-chat-author-chip {
    position: absolute;
    top: -45px;
    left: -10px
}

yt-live-chat-text-message-renderer[author-type=""] #author-name {
    white-space: nowrap;
    line-height: 1 !important;
    font-size: 24px !important;
    font-family: "思源宋体" !important;
    color: #fff !important;
    font-weight: 700 !important;
    position: relative !important;
    border-width: 6px 10px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-普通_0000s_0002_图层-1.png) 6 10 fill !important
}

yt-live-chat-text-message-renderer[author-type=""] #message {
    display: block !important;
    box-sizing: border-box !important;
    overflow: visible !important;
    position: relative !important;
    width: 100% !important;
    line-height: 1.2 !important;
    font-size: 32px !important;
    font-family: "思源宋体" !important;
    color: #2e486f !important;
    font-weight: 700 !important;
    letter-spacing: .5px !important
}

yt-live-chat-text-message-renderer[author-type=""] #author-photo {
    position: absolute !important;
    bottom: 5px !important;
    left: 0 !important;
    height: 90px !important;
    width: 90px !important;
    overflow: visible !important;
    z-index: 110
}

yt-live-chat-text-message-renderer[author-type=""] #author-photo::before {
    position: absolute;
    top: -10px;
    right: -25px;
    content: "";
    display: block;
    height: 120px;
    width: 140px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-普通_0000s_0006_头像框.png) no-repeat;
    background-size: 100%
}

yt-live-chat-membership-item-renderer yt-img-shadow img,
yt-live-chat-text-message-renderer[author-type=""] #author-photo img,
yt-live-chat-text-message-renderer[author-type=comein] #author-photo img,
yt-live-chat-text-message-renderer[author-type=concern] #author-photo img,
yt-live-chat-text-message-renderer[author-type=member] #author-photo img,
yt-live-chat-text-message-renderer[author-type=moderator] #author-photo img,
yt-live-chat-text-message-renderer[author-type=owner] #author-photo img {
    height: 100% !important;
    width: 100% !important;
    border-radius: 50% !important
}

yt-live-chat-text-message-renderer[author-type=comein] #content,
yt-live-chat-text-message-renderer[author-type=concern] #content,
yt-live-chat-text-message-renderer[author-type=moderator] #content,
yt-live-chat-text-message-renderer[author-type=owner] #content {
    position: relative !important;
    border-width: 14px 20px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-房管_0000s_0005_图层-5.png) 14 20 14 20 fill !important;
    padding: 0 40px 0 20px !important
}

yt-live-chat-text-message-renderer[author-type=comein] #content::after,
yt-live-chat-text-message-renderer[author-type=concern] #content::after,
yt-live-chat-text-message-renderer[author-type=moderator] #content::after,
yt-live-chat-text-message-renderer[author-type=owner] #content::after {
    position: absolute;
    bottom: -20px;
    left: -40px;
    content: "";
    display: block;
    height: 40px;
    width: 25px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-房管_0000s_0004_形状-1.png) no-repeat;
    background-size: 100%;
    z-index: 10
}

yt-live-chat-text-message-renderer[author-type=comein] #content::before,
yt-live-chat-text-message-renderer[author-type=concern] #content::before,
yt-live-chat-text-message-renderer[author-type=moderator] #content::before,
yt-live-chat-text-message-renderer[author-type=owner] #content::before {
    position: absolute;
    bottom: -5px;
    right: -15px;
    content: "";
    display: block;
    height: 60px;
    width: 55px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-房管_0000s_0000_图层-8.png) no-repeat;
    background-size: 100%;
    z-index: 10
}

yt-live-chat-text-message-renderer[author-type=comein] yt-live-chat-author-chip,
yt-live-chat-text-message-renderer[author-type=concern] yt-live-chat-author-chip,
yt-live-chat-text-message-renderer[author-type=member] yt-live-chat-author-chip,
yt-live-chat-text-message-renderer[author-type=moderator] yt-live-chat-author-chip,
yt-live-chat-text-message-renderer[author-type=owner] yt-live-chat-author-chip {
    position: absolute;
    top: -45px;
    left: -10px;
    z-index: 10
}

yt-live-chat-text-message-renderer[author-type=comein] #author-name,
yt-live-chat-text-message-renderer[author-type=concern] #author-name,
yt-live-chat-text-message-renderer[author-type=moderator] #author-name,
yt-live-chat-text-message-renderer[author-type=owner] #author-name {
    background: 0 0 !important;
    white-space: nowrap;
    line-height: 1 !important;
    font-size: 24px !important;
    font-family: "思源宋体" !important;
    color: #fff !important;
    font-weight: 700 !important;
    position: relative !important;
    border-width: 6px 10px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-房管_0000s_0003_图层-1.png) 6 10 fill !important
}

yt-live-chat-text-message-renderer[author-type=comein] #message,
yt-live-chat-text-message-renderer[author-type=concern] #message,
yt-live-chat-text-message-renderer[author-type=moderator] #message,
yt-live-chat-text-message-renderer[author-type=owner] #message {
    display: block !important;
    box-sizing: border-box !important;
    overflow: visible !important;
    position: relative !important;
    width: 100% !important;
    line-height: 1.2 !important;
    font-size: 32px !important;
    font-family: "思源宋体" !important;
    color: #452d1d !important;
    font-weight: 700 !important;
    letter-spacing: .5px !important;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff
}

yt-live-chat-text-message-renderer[author-type=comein] #author-photo,
yt-live-chat-text-message-renderer[author-type=concern] #author-photo,
yt-live-chat-text-message-renderer[author-type=moderator] #author-photo,
yt-live-chat-text-message-renderer[author-type=owner] #author-photo {
    position: absolute !important;
    bottom: 5px !important;
    left: 0 !important;
    height: 90px !important;
    width: 90px !important;
    overflow: visible !important;
    z-index: 110
}

yt-live-chat-text-message-renderer[author-type=comein] #author-photo::before,
yt-live-chat-text-message-renderer[author-type=concern] #author-photo::before,
yt-live-chat-text-message-renderer[author-type=moderator] #author-photo::before,
yt-live-chat-text-message-renderer[author-type=owner] #author-photo::before {
    position: absolute;
    top: -13px;
    right: -15px;
    content: "";
    display: block;
    height: 120px;
    width: 125px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-房管_0000s_0006_头像框.png) no-repeat;
    background-size: 100%
}

yt-live-chat-text-message-renderer[author-type=member] #content {
    position: relative !important;
    border-width: 14px 20px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-舰长_0000s_0005_图层-5-拷贝.png) 14 20 14 20 fill !important;
    padding: 0 40px 0 20px !important
}

yt-live-chat-text-message-renderer[author-type=member] #content::before {
    position: absolute;
    bottom: -20px;
    left: -40px;
    content: "";
    display: block;
    height: 40px;
    width: 25px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-舰长_0000s_0004_形状-1.png) no-repeat;
    background-size: 100%;
    z-index: 0
}

yt-live-chat-text-message-renderer[author-type=member] #content::after {
    position: absolute;
    bottom: 0;
    right: -15px;
    content: "";
    display: block;
    height: 60px;
    width: 55px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-舰长_0000s_0000_图层-7.png) no-repeat;
    background-size: 100%;
    z-index: 0
}

yt-live-chat-text-message-renderer[author-type=member] #author-name {
    background: 0 0 !important;
    white-space: nowrap;
    line-height: 1 !important;
    font-size: 24px !important;
    font-family: "思源宋体" !important;
    color: #fff !important;
    font-weight: 700 !important;
    position: relative !important;
    border-width: 6px 10px !important;
    border-style: solid !important;
    border-color: transparent !important;
    border-image: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-舰长_0000s_0003_图层-1.png) 6 10 fill !important
}

yt-live-chat-text-message-renderer[author-type=member] #message {
    display: block !important;
    box-sizing: border-box !important;
    overflow: visible !important;
    position: relative !important;
    width: 100% !important;
    line-height: 1.2 !important;
    font-size: 32px !important;
    font-family: "思源宋体" !important;
    color: #2e486f !important;
    font-weight: 700 !important;
    letter-spacing: .5px !important;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff
}

yt-live-chat-text-message-renderer[author-type=member] #author-photo {
    position: absolute !important;
    bottom: 5px !important;
    left: 0 !important;
    height: 90px !important;
    width: 90px !important;
    overflow: visible !important;
    z-index: 110
}

yt-live-chat-text-message-renderer[author-type=member] #author-photo::before {
    position: absolute;
    top: -13px;
    right: -15px;
    content: "";
    display: block;
    height: 120px;
    width: 125px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/弹幕-舰长_0000s_0006_头像框.png) no-repeat;
    background-size: 100%
}

yt-live-chat-membership-item-renderer {
    margin: 40px 20px !important;
    overflow: visible !important;
    padding: 0 !important
}

yt-live-chat-membership-item-renderer #card {
    position: relative !important;
    overflow: visible !important
}

yt-live-chat-membership-item-renderer #header {
    background-color: transparent !important;
    position: relative !important;
    height: 110px;
    width: calc(100% - 50px);
    border: 20px solid transparent !important;
    border-image: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/矩形 2.png) 20 fill !important
}

yt-live-chat-membership-item-renderer yt-img-shadow {
    display: none !important;
    position: absolute !important;
    top: -30px !important;
    left: 10px !important;
    height: 95px !important;
    width: 95px !important;
    overflow: visible !important;
    z-index: 120
}

yt-live-chat-membership-item-renderer yt-img-shadow::before {
    position: absolute;
    top: -9px;
    left: -10px;
    content: "";
    display: block;
    height: 115px;
    width: 115px;
    background: url(static/pandamiao/css.pandamiao.com/DM/DZ/220810听盒狂热激推/礼物-舰长_0000s_0000_头像.png) no-repeat;
    background-size: 100% 100%;
    z-index: 0
}

yt-live-chat-membership-item-renderer yt-live-chat-author-chip {
    position: absolute !important;
    top: 85px;
    left: 50%
}

yt-live-chat-membership-item-renderer #author-name {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    font-family: "思源宋体";
    font-weight: 700;
    color: #fff !important;
    line-height: 1;
    position: absolute;
    left: -10px;
    top: -58px;
    z-index: 26;
    padding: 6px 10px;
    background: #2e486f;
    border-radius: 10px !important
}

yt-live-chat-membership-item-renderer #header-subtext {
    display: none !important
}

yt-live-chat-paid-message-renderer[show-only-header=true] {
    padding: 10px 20px 10px 0 !important;
    margin: 40px 0 !important
}

yt-live-chat-paid-message-renderer[show-only-header=true] #card {
    height: 25px;
    padding: 20px 80px 20px 10px !important;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/免费礼物_0000s_0004_圆角矩形-5.png) no-repeat !important;
    background-size: 100% 100% !important;
    position: relative !important;
    box-shadow: none !important
}

yt-live-chat-paid-message-renderer[show-only-header=true] #header {
    background: 0 0 !important;
    padding: 0 !important
}

yt-live-chat-paid-message-renderer[show-only-header=true] #header-content-primary-column {
    padding-top: 0;
    padding-left: 90px;
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row !important
}

yt-live-chat-paid-message-renderer[show-only-header=true] #author-name {
    position: relative;
    line-height: 40px !important;
    font-size: 29.256px !important;
    font-family: "思源宋体" !important;
    color: #2e486f !important;
    font-weight: 700 !important
}

yt-live-chat-paid-message-renderer[show-only-header=true] #author-name::before {
    position: absolute;
    top: 8px;
    right: -30px;
    content: "";
    display: block;
    height: 30px;
    width: 25px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/免费礼物_0000s_0001_多边形-6.png) no-repeat;
    background-size: 100%
}

yt-live-chat-paid-message-renderer[show-only-header=true] #purchase-amount {
    line-height: 30px !important;
    font-size: 29.256px !important;
    font-family: "思源宋体" !important;
    color: #2e486f !important;
    font-weight: 700 !important
}

yt-live-chat-paid-message-renderer[show-only-header=true] #purchase-amount::before {
    position: absolute;
    top: -30px;
    right: -90px;
    content: "";
    display: block;
    height: 80px;
    width: 70px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/免费礼物_0000s_0000_图层-17.png) no-repeat;
    background-size: 100%
}

yt-live-chat-paid-message-renderer[show-only-header=true] yt-img-shadow {
    display: none !important;
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: -32px;
    left: -40px;
    border-radius: 20% !important;
    overflow: visible !important
}

yt-live-chat-paid-message-renderer[show-only-header=true] yt-img-shadow::before {
    position: absolute;
    top: -3px;
    right: -5px;
    content: "";
    display: block;
    height: 70px;
    width: 70px;
    background: url(static/pandamiao/css.pandamiao.com/DM/DZ/220810听盒狂热激推/礼物-免费_0000s_0000_圆角矩形-4-拷贝.png) no-repeat;
    background-size: 100% 100%
}

yt-live-chat-paid-message-renderer[show-only-header=true] yt-img-shadow #img {
    width: 60px;
    height: 60px;
    border-radius: 20% !important
}

yt-live-chat-paid-message-renderer:not([show-only-header]) {
    margin: 40px 20px !important;
    overflow: visible !important;
    padding: 0 200px 0 0 !important
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #card {
    background: 0 0 !important;
    overflow: visible !important;
    border-width: 60px 10px 10px !important;
    border-style: solid;
    border-color: #eee;
    border-image: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/送礼_0000s_0000s_0003_形状-2.png) 50 10 10 10 fill !important;
    position: relative !important;
    box-shadow: none !important;
    padding: 0 !important
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #card::before {
    position: absolute;
    bottom: -10px;
    right: -47px;
    content: "";
    display: block;
    height: 50px;
    width: 40px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/送礼_0000s_0003_形状-3.png) no-repeat;
    background-size: 100%;
    z-index: 10
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #header {
    overflow: visible !important;
    position: static !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    background-color: transparent !important
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #author-photo {
    position: absolute !important;
    bottom: 30px !important;
    right: -120px !important;
    height: 60px !important;
    width: 60px !important;
    overflow: visible !important;
    z-index: 110
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #author-photo::before {
    position: absolute;
    top: -17px;
    left: -10px;
    content: "";
    display: block;
    height: 200px;
    width: 192px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/送礼_0000s_0004_头像框-拷贝.png) no-repeat;
    background-size: 100%;
    z-index: 0
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #author-photo img {
    height: 100% !important;
    width: 100% !important;
    border-radius: 50% !important
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #header-content-primary-column {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: row !important;
    margin: 0 !important;
    position: static !important;
    width: calc(100% - 150px)
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #author-name {
    position: absolute;
    top: -57px;
    left: calc(50% - 25px);
    transform: translate(-50%);
    padding: 2px 6px 2px 35px;
    line-height: 30px !important;
    font-size: 29.256px !important;
    font-family: "思源宋体" !important;
    color: #2e486f !important;
    font-weight: 700 !important
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #author-name::after,
yt-live-chat-paid-message-renderer:not([show-only-header]) #author-name::before {
    position: absolute;
    top: 10px;
    content: "";
    display: block;
    height: 30px;
    width: 18px;
    background: url(static/pandamiao/lfcss.pandamiao.com/DM/A29去月球吧/免费礼物_0000s_0001_多边形-6.png) no-repeat;
    background-size: 100%
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #author-name::before {
    left: 6px
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #author-name::after {
    right: -22px
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #purchase-amount {
    position: absolute;
    right: -135px;
    bottom: -5px;
    padding: 2px 6px;
    line-height: 19px !important;
    font-size: 18.5px !important;
    font-family: "思源宋体" !important;
    font-style: italic;
    color: #fff !important;
    text-shadow: 0 0 4px #2e486f, 0 0 4px #2e486f, 0 0 4px #2e486f;
    font-weight: 700 !important;
    z-index: 200
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #content {
    padding: 0 10px 3px !important;
    margin: 0 !important;
    background-color: transparent !important;
    position: relative !important;
    text-align: center
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #message {
    display: inline-block;
    line-height: 1.2 !important;
    font-size: 34px !important;
    font-family: "思源宋体" !important;
    color: #2e486f !important;
    font-weight: 700 !important;
    text-align: center;
    background: #e5fdff !important;
    padding: 0 10px 2px
}

yt-live-chat-paid-message-renderer:not([show-only-header]) #message:empty {
    display: block !important;
    min-height: 42px !important
}
